<header class="site-header">
  <nav class="header-container">
    <div class="site-brand">
      <a href="/" class="site-brand__link">voidfemme</a>
    </div>
    <ul class="nav-list">
      <li><a href="/" class="nav__link">home</a></li>
      <li><a href="/blog" class="nav__link">blog</a></li>
      <li><a href="/photos" class="nav__link">photos</a></li>
      <li><a href="/zines" class="nav__link">zines</a></li>
      <li><a href="/about" class="nav__link">about</a></li>
      <li><a href="/feed" class="nav__link">feed</a></li>
    </ul>
  </nav>
</header>
